<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Feature Config</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #main {
            margin-top: 51px;
        }
        .status {
            width:50px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" target="_blank" href="http://github.com/indieisaconcept/grunt-feature">grunt-feature</a>
          </div>
        </div>
      </div>

    <div id="main" class="container">

        <div class="page-header">
            <h1>Features</h1>
        </div>

        <div class="panel panel-success">
          <!-- Default panel contents -->
          <div class="panel-heading">Overview</div>

          <!-- Table -->
          <table class="table">
            <tr>
                <th>Namespace</th>
                <th>Value</th>
                <th>Description</th>
            </tr>

            <% _.each(namespace, function(ns) { %>
            <tr>
                <td><span class="label label-default"><%= ns.name %></span></td>
                <td>
                    <% if (_.isBoolean(ns.value)) { %>
                        <span class="label label-<%= ns.value ? 'success' : 'danger' %>"><%= ns.value ? 'Active' : 'Disabled' %></span>
                    <% } else { %>
                        <span class=""><%= JSON.stringify(ns.value) %></span>
                    <% } %>
                </td>
                <td><% if (ns.description) { %><%= ns.description %><% } else { %>n/a<% } %></td>
            </tr>
            <% }); %>

          </table>

        </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  </body>
</html>
